body {
  --pokemon-type-normal: #a8a77a;
  --pokemon-type-fire: #ee8130;
  --pokemon-type-water: #6390f0;
  --pokemon-type-electric: #f7d02c;
  --pokemon-type-grass: #7ac74c;
  --pokemon-type-ice: #96d9d6;
  --pokemon-type-fighting: #c22e28;
  --pokemon-type-poison: #a33ea1;
  --pokemon-type-ground: #e2bf65;
  --pokemon-type-flying: #a98ff3;
  --pokemon-type-psychic: #f95587;
  --pokemon-type-bug: #a6b91a;
  --pokemon-type-rock: #b6a136;
  --pokemon-type-ghost: #735797;
  --pokemon-type-dragon: #6f35fc;
  --pokemon-type-dark: #705746;
  --pokemon-type-steel: #b7b7ce;
  --pokemon-type-fairy: #d685ad;
}
